Options +FollowSymLinks
RewriteEngine on

# Rewrite Base URL
# will add $1 suffix later
# static redirect for now
RewriteRule ^(.*)$ https://github.com/aeco-bim-Unified-Platform/edsm-ontology [R=302,L]
